$primary-clr: #202020;
$secondary-clr: #121212;
$white: #fff;
$secondary-txt-clr: #dedede;
$red-clr: #ed3024;
$blue-clr: #3137c9;

$bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$z-index-sidebar: 100;
$z-index-header: 100;

$sidebar-width: 300px;
