<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a class="nav__link" href="#">Home</a>
        </li>
        <li>
          <a class="nav__link has-subnav" href="#">Articles</a>

          <ul class="subnav">
            <li>
              <a href="#">Site creating</a>
            </li>
            <li>
              <a href="#">Web marketing</a>
            </li>
            <li>
              <a href="#">SEO</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="nav__link" href="#">About Me</a>
        </li>
        <li>
          <a class="nav__link" href="#">Advertising</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a class="nav__link" href="#">Profile</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="/" method="POST">
      <input class="search__input" type="text" placeholder="Search" />
    </form>
  </div>
</header>
