<aside class="sidebar">
  <div class="sidebar__header">
    <img
      class="sidebar__image"
      src="../assets/images/Sidebar__img.jpg"
      alt="PC image"
    />
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img src="../assets/images/profile.jpg" alt="" class="profile__avatar" />
      <div class="profile__name">Joe Doe</div>
      <div class="profile__prof">front-end developement blog</div>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank"
            ><img
              class="social__icon"
              src="../assets/images/instagram.svg"
              alt="Instagram Joe Doe"
          /></a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank"
            ><img
              class="social__icon"
              src="../assets/images/vk.svg"
              alt="VK Joe Doe"
          /></a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank"
            ><img
              class="social__icon"
              src="../assets/images/pinterest.svg"
              alt="Pinterest Joe Doe"
          /></a>
        </li>
      </ul>

      <div class="profile__text">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est eaque,
          voluptatibus voluptates veniam voluptas eum tempora laudantium debitis
          nesciunt nulla.
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar__footer">
    <a class="btn btn--red" href="#">My work</a>
    <button class="btn btn--blue" type="button">Write me</button>
  </div>
</aside>
